body {
    background-image: url(Gambar/lp1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.style1 {
    background-color: rgba(255, 255, 255, 0.726);
    width: 25%;
    height: 300px;
    border-radius: 10px;
    padding: 20px 80px;
    text-align: center;
}

#style2 input {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(250, 245, 245);
    color: lightgray;
    font-size: 16px;
    margin: 10px 0;
    width: 100%;
    border: none;
    outline-style: none;
}

.style3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.39);
}

#style2 button[type=button] {
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin: 15px;
    width: 70%;
    background-color: rgb(74, 118, 85);
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
}

input{
    color: #000;
}